/* CSS */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

/* Specify in CSS */
code {
    font-family: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
    code {
        font-family: 'Fira Code VF', monospace;
    }
}

body {
    font-family: 'Fira Code', monospace;
}

.max-w-prose {
    max-width: 100%;
}


@media (min-width: 1280px) {
    table {
        max-width: 50%;
    }
}