{{ if .Get 0 | eq 1 }}
    {{ partial "icon.html" "circle-solid" }}
    {{ partial "icon.html" "circle-regular" }}
    {{ partial "icon.html" "circle-regular" }}
    {{ partial "icon.html" "circle-regular" }}
{{ end }}
{{ if .Get 0 | eq 2 }}
    {{ partial "icon.html" "circle-solid" }}
    {{ partial "icon.html" "circle-solid" }}
    {{ partial "icon.html" "circle-regular" }}
    {{ partial "icon.html" "circle-regular" }}
{{ end }}
{{ if .Get 0 | eq 3 }}
    {{ partial "icon.html" "circle-solid" }}
    {{ partial "icon.html" "circle-solid" }}
    {{ partial "icon.html" "circle-solid" }}
    {{ partial "icon.html" "circle-regular" }}
{{ end }}
{{ if .Get 0 | eq 4 }}
    {{ partial "icon.html" "circle-solid" }}
    {{ partial "icon.html" "circle-solid" }}
    {{ partial "icon.html" "circle-solid" }}
    {{ partial "icon.html" "circle-solid" }}
{{ end }}
